@CHARSET "UTF-8";

@import "/theme/css/admin-edit-form.css" screen; /* Стиль для вывода результата на монитор */

/* layouts/scripts/admin-layout.php3 start */
html, body, img, div, a, span {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
html { background: #fff; }
img { border: 0 none; }
.clr { clear:both; }

.header {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 50px;
	left: 0;
	border-bottom: 1px solid #aab0b5;
	background: #fff;
}
.header-resize {
	width: 900px;
	margin: 0 auto;
	height: 50px;
}
.body {
	width: 900px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}
.body-push1 {
	height: 60px;
}
.body-container {
	width: 900px;
	margin: 0 auto;
}
.body-push2 {
	height: 90px;
}
.footer {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 60px;
	margin-top: -60px;
}
.footer-resize {
	width: 900px;
	margin: 0 auto;
	height: 60px;
}
.footer-developer-logo {
	width: 79px;
	height: 40px;
	display: block;
	float: left;
	background: url("/theme/img/developer-logo.png") no-repeat top left;
}
.footer-developer-text {
	float: left;
	width: 800px;
	margin: 15px 0 0 15px;
	color: #aab0b4;
	font-size: 11px;
}
.footer-developer-text a {
	color: #0096c8;
	text-decoration: none;
}
/* layouts/scripts/admin-layout.php3 end */

/* default/views/scrips/admin-index/index.php3 start */
.admin-index {
	border-style: solid;
	border-width: 0 1px;
	border-color: #aab0b4;
	width: 340px;
	margin: 0 360px 0 178px;
	padding: 0 10px;
}
.admin-index-left {
	float: left;
	margin-left: -189px;
	width: 168px;
}
.admin-index-center {
	float: left;
	width: 100%;
}
.admin-index-right {
	float: right;
	margin-right: -371px;
	width: 350px;
}
.admin-index h2 {
	padding: 0;
	margin: 0;
	height: 45px;
	font-weight: 400;
	font-size: 28px;
	line-height: normal;
	color: #181818;
}
.admin-index h3 {
	padding: 0;
	margin: 0;
	height: 25px;
	font-weight: 400;
	font-size: 18px;
	line-height: normal;
	color: #181818;
}
.admin-index-menu {
	padding: 0 0 30px;
	margin: 0;
	list-style: none;
	font-size: 14px;
}
.admin-index-menu li {
	padding: 1px 0;
}
.admin-index-menu li a,
.admin-index-menu li span {
	color: #038bbb;
	text-decoration: none;
}
.admin-index-online-count {
	font-size: 12px;
	color: #181818;
}
.admin-index-item-head {
	background-color: #f5f5f5;
	min-height: 16px;
	padding: 2px 5px;
}
.admin-index-item-head .date,
.admin-index-item-head .user {
	float: left;
	font-size: 10px;
	display: block;
	padding: 2px 0 0;
}
.admin-index-item-head .date {
	color: #181818;
}
.admin-index-item-head .user {
	color: #038bbb;
	margin-left: 10px;
	text-decoration: none;
}
.admin-index-item-head .comments,
.admin-index-item-head .edit,
.admin-index-item-head .collapse,
.admin-index-item-head .delete {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	margin: 0 2px;
	background-position: left;
	background-repeat: no-repeat;
}
.admin-index-item-head .edit {
	background-image: url("/theme/img/admin/edit-16px.png");
}
.admin-index-item-head .collapse {
	background-image: url("/theme/img/admin/collapse-16px.png");
}
.admin-index-item-head .delete {
	background-image: url("/theme/img/admin/delete-16px.png");
}
.admin-index-item-head .comments {
	width: auto;
	padding: 2px 0 0 20px;
	height: 14px;
	font-size: 10px;
	color: #181818;
	text-decoration: none;
	background-image: url("/theme/img/admin/comments-16px.png");
}
.admin-index-item-body {
	padding: 3px 0;
}
.admin-index-item-body .breadcumbs {
	font-size: 10px;
	color: #8c8c8c;
}
.admin-index-item-body .breadcumbs a {
	display: inline-block;
	margin: 0 2px;
	color: #8c8c8c;
	text-decoration: none;
}
.admin-index-item-body .link {
	padding: 5px 0 20px;
}
.admin-index-item-body .link a {
	color: #038bbb;
	font-size: 12px;
	text-decoration: none;
}
.admin-index-item-body .tizer {
	padding: 5px 0 20px;
	color: #181818;
	font-size: 12px;
}
/* default/views/scrips/admin-index/index.php3 end */

/* users/views/scrips/admin-index/login.php3 start */
.users_form_login {
	font-family: Arial, Helvetica, sans-serif;
	width: 345px;
	height: 280px;
	margin: 0 auto;
}
.users_form_login .form-composite-group-main {
	border: 1px solid #aab0b4;
	border-radius: 5px;
	margin: 0;
	padding: 20px;
}
.users_form_login .form-composite-group-main fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.users_form_login .form-composite-group-main legend {
	font-size: 24px;
	display: block;
	height: 45px;
	padding: 0;
	margin: 0;
	color: #181818;
}
.users_form_login .form-composite-element-email .form-composite-element-label,
.users_form_login .form-composite-element-password .form-composite-element-label {
	font-size: 14px;
	color: #181818;
	height: 20px;
}
.users_form_login .form-composite-element-email input,
.users_form_login .form-composite-element-password input {
	color: #aab0b4;
	font-size: 17px;
	width: 290px;
	padding: 5px;
	margin: 0;
	border: 1px solid #aab0b4;
	border-radius: 3px;
}
.users_form_login .form-composite-element-submit input {
	color: #181818;
	font-size: 16px;
	font-weight: 600;
	width: 75px;
}
.users_form_login .form-composite-element-errors {
	padding: 2px 0 0;
	height: 18px;
}
.users_form_login-end { clear: both; }
/* users/views/scrips/admin-index/login.php3 end */

/* admin table start */
.admin-table {
	font-family: Arial, Helvetica, sans-serif;
}
.admin-table table {
	width: 100%;
}
.admin-table table .checkbox,
.admin-table table .datetime {
	width: 1%;
	white-space: nowrap;
}
.admin-table table th div {
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	min-height: 16px;
	color: #181818;
	padding: 7px 9px;
	margin: 3px 5px !important;
}
.admin-table table td {
	border-top: 1px solid #aab0b4;
}
.admin-table table td div {
	font-size: 14px;
	color: #181818;
	padding: 7px 8px;
	margin: 3px 5px !important;
}
.admin-table table td div a {
	color: #181818;
	text-decoration: none;
}
.admin-table table td div a:hover {
	text-decoration: underline;
}
.admin-table table .delete {
	width: 16px;
}
.admin-table table .delete div {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	border: 0 none;
}
.admin-table table .delete a {
	display: none;
	color: #038bbb;
	left: 0;
	width: 16px;
	height: 16px;
	background: url("/theme/img/admin/delete-16px.png") no-repeat center;
}
.admin-table table tr.hover .delete a {
	display: block;
}
.admin-table table .checkbox div {
	padding: 0;
	margin: 0;
	border: 0 none;
	width: 16px;
}
.admin-table table td.datetime div {
	text-align: right;
}
.admin-table table .empty div {
	padding: 0;
	margin: 0;
	border: 0 none;
	text-align: center;
}
.admin-actions {
	position: fixed;
	left: 0;
}
.admin-actions ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.admin-actions ul li {
	padding: 10px;
	margin: 0;
	list-style: none;
}
.admin-actions a {
	display: block;
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
}
.admin-actions .add {
	background: url("/theme/img/admin/add-32px.png");
}
.admin-actions .delete {
	background: url("/theme/img/admin/delete-32px.png");
}
.admin-actions .save {
	background: url("/theme/img/admin/save-32px.png");
}
.admin-actions .apply {
	background: url("/theme/img/admin/apply-32px.png");
}
.admin-actions .move {
	background: url("/theme/img/admin/move-32px.png");
}
.admin-actions .copy {
	background: url("/theme/img/admin/copy-32px.png");
}
.admin-actions .single {
	display: block;
}
.admin-actions .multi {
	display: none;
}
/* admin table end */

/* admin table navigation start */
.admin-table-navigation {
	padding: 8px;
	font-family: Arial, Helvetica, sans-serif;
}
.admin-table-navigation-pages {
	float: left;
	font-size: 16px;
}
.admin-table-navigation-pages a {
	display: inline-block;
	color: #038bbb;
	padding: 0 7px;
	text-decoration: none;
}
.admin-table-navigation-pages a:hover {
	text-decoration: underline;
}
.admin-table-navigation-pages a.larr,
.admin-table-navigation-pages a.rarr {
	text-decoration: none !important;
	font-weight:400 !important;
}
.admin-table-navigation-pages a.current {
	cursor: default;
	font-weight: 600;
	text-decoration: none !important;
}
.admin-table-navigation-rows {
	padding: 2px 0 0;
	float: right;
	font-size: 14px;
	font-style: italic;
	color: #038bbb;
}
.admin-table-navigation-rows a {
	display: inline-block;
	color: #038bbb;
	padding: 0 7px;
	text-decoration: none;
}
.admin-table-navigation-rows a:hover {
	text-decoration: underline;
}
.admin-table-navigation-rows a.current {
	cursor: default;
	font-weight: 600;
	text-decoration: none !important;
}
/* admin table navigation end */

/* admin table filter start */
.admin-table-filter {
	padding: 10px;
	margin: 10px 0;
	padding-left: 65px;
	background-color: #f5f5f5;
}
.admin-table-filter .form-composite-element-label {
	display: none;
}
.admin-table-filter .form-composite-element-tag select {
    background: rgba(0,0,0,0);
    background: transparent\0/; /*хак для ИЕ8*/
    -webkit-appearance: none;/*хак для хрома*/
    font-size: 14px;
    padding: 5px;
    width: 278px;
    color: #181818;
    border: 0 none;
}
.admin-table-filter .form-composite-element-tag select:visited {
}
.admin-table-filter .form-composite-element-tag {
	display: inline-block;
	width: 250px;
	overflow: hidden;
	border: 1px solid #aab0b4;
	border-radius: 3px;
	background: url("/theme/img/admin/select-button.png") no-repeat 233px 50% #fff;
}

.admin-table-filter .formSubmit,
.admin-table-filter .formButton {
	background:none;
	border:none;
}

.admin-table-filter .form-composite-element-contents_categories_id,
.admin-table-filter .form-composite-element-media_categories_id {
	float:left;
	clear:both;
	display:block;
}

.admin-table-filter .form-composite-element-submit {
	float:left;
	margin:0 0 0 15px;
}

.admin-table-filter .form-composite-element-submit input {
	height:30px;
	font-size:14px;
}
.admin-table-filter .form-composite-element-select_items {
	float: right;
}
.admin-table-filter .form-composite-element-select_items .formButton {
	width: auto;
}
.admin-table-filter .form-composite-element-select_items button {
	height:32px;
	font-size:14px;
}

/* admin table filter end */

.modalOpen {
	cursor:pointer;
}

.ui-dialog-content-container {
	background:#FFf !important;
	width:100% !important;
	height:100% !important;
}

/*  Select Images widget  */

.selectImage_images_contanier {
	
}

.selectImage_images_contanier .selectImage_images_contanier_element {
	float:left;
	width:150px;
	height:150px;
	margin: 0 17px 25px 0;
	position:relative;
	background:#ccc;
}

.selectImage_images_contanier .selectImage_images_contanier_elementActive {
	float:left;
	width:180px;
	outline: 1px solid red;
	margin: 0 15px 25px 0;
}

.selectImage_images_contanier .selectImage_images_contanier_element input {
	display: block;
	position:absolute;
	margin:20px 0 0 20px;
}


.selectImage_images_contanier .selectImage_images_contanier_element img {
	display: block;
	position:absolute;
	margin:10px 0 0 10px;
}
/*  Select Images widget end  */

