@font-face {
    font-family: 'MyriadProCondBold';
    src: url('myriadpro-boldcond-webfont.eot');
    src: url('myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-boldcond-webfont.woff') format('woff'),
         url('myriadpro-boldcond-webfont.ttf') format('truetype'),
         url('myriadpro-boldcond-webfont.svg#MyriadProCondBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProCondRegular';
    src: url('myriadpro-cond-webfont.eot');
    src: url('myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-cond-webfont.woff') format('woff'),
         url('myriadpro-cond-webfont.ttf') format('truetype'),
         url('myriadpro-cond-webfont.svg#MyriadProCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.MyriadProCondBold {
	font-family: 'MyriadProCondBold';
}

.MyriadProCondRegular {
	font-family: 'MyriadProCondRegular';
}

/* ����� ��� �������, �� ������*/
html, body, img, div, a, span {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
html { background: #fff; }

body{
	background: url('/theme/img/front/header_bg.jpg') repeat-x 0px 0px;
	color: #737373;
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
}

.clear { clear:both; }

* {
	margin: 0px;
	padding: 0px;
	border: none;
}

a {
	color: #0066c1;
    text-decoration:underline;
}

a:hover {
	color: #2698fd;
}

ul {
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}
.clearer{
	clear: both;
}

/* -- Header  */
.header {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 298px;
	left: 0;
	background: url('/theme/img/front/header.jpg') no-repeat center top;
}

.header .headerResize {
	width:1000px;
	margin:0 auto;
	height: 298px;
}

.header .headerResize .logo {
	display: block;
	margin:23px 0 128px 6px;
	border: none;
	text-decoration: none;
	float:left;
	width:535px;
	height:102px;
}

.header .headerResize .language {
	float:left;	
	position:relative;
	margin:62px 0 0 200px;
}

.header .headerResize .language .language_active {
	background: url(/theme/img/front/language.png) repeat-x 0px -24px;
	line-height: 24px;
	margin: 0px 11px;
	color: #0066c1;
}

.header .headerResize .language img.lan {
	margin: 2px 7px 0px 0px;
	float: left;
}

.header .headerResize .language .language_active img.lan {
	margin-top: 7px;
}

.header .headerResize .language .language_active_left {
	background: url(/theme/img/front/language.png) repeat-x -11px 0px;
	position: absolute;
	top: 0px;
	left: -11px;
	width: 11px;
	height: 24px;
}

.header .headerResize .language .language_active_right{
	background: url(/theme/img/front/language.png) repeat-x 0px 0px;
	position: absolute;
	top: 0px;
	right: -11px;
	width: 11px;
	height: 24px;
}

.header .headerResize .language .pop_up{
	left: 11px;
	display:none;
}

.headerResize .user_block {
	float:right;
	margin:50px 10px 0 0;
}

.headerResize .menu {
	background: url('/theme/img/front/menu_bg.png') repeat-x 0px -45px;
	position:relative;
}

.headerResize .menu .first td { 
	height: 45px;
	vertical-align: middle;
	text-align: center;
	background: url(/theme/img/front/menu_li.jpg) no-repeat right top;
	padding-right: 2px;
	font-family: 'MyriadProCondBold';
	position:relative;
}

.headerResize .menu .first td.no_li{ 
	background: none;
	padding-right: 0px;
}

.headerResize .menu .first td a{ 
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	z-index: 150;
}

.headerResize .menu .last .active{ 
	background: url(/theme/img/front/menu_active.png) no-repeat center top;
	height: 6px;
}

.headerResize .menu .first td a:hover, .headerResize .menu .first td.active a{
	color: #f3d343;
}

.headerResize .menu .menu_left, .headerResize .menu .menu_right{
	position: absolute;
	width: 4px;
	height: 45px;
	background: url(/theme/img/front/menu_bg.png) no-repeat 0px 0px;
	top: 0px;
}

.headerResize .menu .menu_left{
	left: -4px;
	background-position: -4px 0px;	
} 

.headerResize .menu .menu_right{
	right: -4px;
	background-position: 0px 0px;
}

.headerResize .menu .first td .dropDown{
	position: absolute;
	z-index: 100;
	width: 203px;
	top:100%;
	margin-left:-20px;
	overflow:hidden;
}

.headerResize .menu .first td .dropDown ul {
	background: url(/theme/img/front/menu_dr_center.png) repeat-y 0px 0px;
	padding: 0px 32px;
	margin-top: -100%;
	opacity: 0; /* ���� 0% �� ���� ���������, ���� -100% �� ���� ������ */
}

.headerResize .menu .first td .dropDown ul li {
	padding-bottom: 5px;
	text-align:left;
	min-width:100%;
	line-height: 15px;
}

.headerResize .menu .first td .dropDown ul li a {
	color: #015eb3;
	font-family:Arial;
	font-size:12px;
	text-decoration:underline;
	text-transform:none !important;
	display:block;
	margin:0 0 5px 0;
}

.headerResize .menu .first td .dropDown ul li a:hover {
	color: #2698fd;
}

.headerResize .menu .first td .dropDown .droupdaun_top{
	background: url(/theme/img/front/menu_dr_top.png) no-repeat 0px 0px;
	width: 203px;
	height: 18px;
}

.headerResize .menu .first td .dropDown .droupdaun_bottom{
	background: url(/theme/img/front/menu_dr_bottom.png) no-repeat 0px 0px;
	width: 203px;
	height: 38px;
}

/*  -- Body */
.body {
	width: 1000px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}
.pushTop {
	height: 298px;
}
.pushBottom {
    clear: both;
    height: 200px;
}
.body .contentWrapper {
	margin:0 0 25px 0;
}

.footer {
    color: #566166;
	font-size: 11px;
    width: 1000px;
	margin: -200px auto 0;
    height: 200px;
}

.footer .menu {
	color: #0066c2;
	font-size: 17px;
	text-align: center;
	margin-bottom: 37px;
}

.footer .logo {
	width: 49px;
	height: 58px;
	float: left;
	margin-right: 7px;
	margin-top: -10px;
}

.footer .sunny_logo {
	margin-top: -10px;
}

.footer .footer_item {
	margin-right: 45px;
}
 
.footer .search input.input {
	font-family: Arial;
	font-size: 12px;
	color: #0066c1;
	font-style: italic;
	width: 140px;
 }
 
.footer .search {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	height: 22px;
	line-height: 22px;
	position: relative;
	margin: 3px 36px 0px 11px;
}
 
.footer .search input.submit{
	background: url(/theme/img/front/footer_search.jpg) 0px 0px no-repeat;
	width: 36px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	top: -1px;
	right: -36px;
}
  
.footer .search .search_left{
  	background: url(/theme/img/front/footer_search.jpg) -36px 0px no-repeat;
	position: absolute;
	top: -1px;
	left: -11px;
	width: 11px;
	height: 24px;
}
  
.footer .social_networks{
	margin-left: 11px;
	margin-top: 17px;
}

.relative{
	position: relative;
}

.fs20{
	font-size: 20px;
}

.fs26{
	font-size: 26px;
}

.fs28{
	font-size: 28px;
}

.fs38{
	font-size: 38px;
}

.fff{
	color: #ffffff;
}

.color_ffc400{
	color: #ffc400;
}

/*------------------------------*/





  
  .promo{
	margin: 0 0 20px -4px;
	height: 372px;
	width:1008px;
   }
  
   .promo img{
	display: block;
   }
  
  .promo .promo_left_bottom{
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: url(/theme/img/front/promo_corner.png) no-repeat -16px 0px;
	width: 16px;
	height: 16px;
  }
  
    .promo .promo_right_bottom{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: url(/theme/img/front/promo_corner.png) no-repeat 0px 0px;
	width: 16px;
	height: 16px;
  }
  
  .promo .promo_text{
	position: absolute;
	top: 80px;
	left: 20px;
	color: #ffffff;
	height: 200px;
	overflow-y: hidden;
	line-height: 40px;
}

.promo .promo_img{
	position: absolute;
	top: 286px;
	left: 20px;
}

.promo .promo_img a{
	width: 78px;
	height: 58px;
	float: left;
	margin-right: 3px;
	display: block;
	padding-top: 8px;
}

.promo .promo_img  img{
	border: 1px solid #c0b9b7;
}

.promo .promo_img .active{
	background: url(/theme/img/front/promo_img_bg.png) no-repeat 0px 0px;
	padding: 8px 3px 3px;
	margin-right: 1px;
}

.promo .promo_img .active img{
	border: none;
}

.box{
	position: relative;
	border: 1px solid #dcdcdc;
	padding: 11px 20px;
	margin-bottom: 20px;
	font-size: 26px;
	line-height: 26px;
	color: #babbbb;
}

.box .box_left_top{
	position: absolute;
	top: -1px;
	left: -1px;
	width: 16px;
	height: 15px;
	display: block;
	background: url(/theme/img/front/box_corner.jpg) no-repeat -16px -15px;
}

.box .box_left_bottom{
	position: absolute;
	bottom: -1px;
	left: -1px;
	width: 16px;
	height: 15px;
	display: block;
	background: url(/theme/img/front/box_corner.jpg) no-repeat -16px 0px;
}

.box .box_right_top{
	position: absolute;
	top: -1px;
	right: -1px;
	width: 16px;
	height: 15px;
	display: block;
	background: url(/theme/img/front/box_corner.jpg) no-repeat 0px -15px;
}

.box .box_right_bottom{
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: 16px;
	height: 15px;
	display: block;
	background: url(/theme/img/front/box_corner.jpg) no-repeat 0px 0px;
}

.box .standart_img{
	float: left;
	margin-left: 110px;
}

.content_left{
	width: 380px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.content_center{
	width: 350px;
	margin-bottom: 20px;
}

.content_right{
	width: 240px;
}

.grey_box {
	margin-bottom: 11px;
}

.grey_box .text_box{
	background: #ededed;
	padding: 20px 20px 13px;
}

.grey_box .title_box{
	background: #bcbcbd;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 17px;
	font-family: 'MyriadProCondBold';
	text-align: center;
	line-height: 30px;
}

.grey_box .text_box li{
	margin-bottom: 7px;
}

.pl_bg_box{
	background: url(/theme/img/front/pl_bg.jpg) repeat-x 0px 0px;
	height: 30;
	width: 100%;
	line-height: 25px;
}

.pl_title_box{
	padding: 0px 20px 0px;
	line-height: 27px;
	color: #ffffff;
	float: left;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'MyriadProCondBold';
}


.bg_ed1c24 .pl_title_box{
	background: #ed1c24;
}

.bg_0066c1 .pl_title_box{
	background: #0066c1;
}

.bg_61a123 .pl_title_box{
	background: #61a123;
}

.pl_item_box{
	margin-top: 20px;
	padding-bottom: 5px;
}

.pl_item_box a{
	color: #3a3a3a;
	text-decoration: none;
}

.pl_item_box img{
	margin-right:  13px;
	display: block;
}

.bg_ed1c24  .pl_item_box{
	border-bottom: 1px solid #f68d91;
}

.bg_0066c1  .pl_item_box{
	border-bottom: 1px solid #7fbaef;
}

.pl_item_box .pl_item_title a{
	color: #828282;
}

.last_photo{
	width: 100%;
	overflow-x: hidden;
	margin-bottom: 20px;
}

.last_photo img{
	display: block;
	float: left;
}

.pl_all_box{
	position: relative;
	margin-right: 13px;
	color: #0066c1;
	margin-top: 2px;
}

.dashed{
	text-decoration: none;
	border-bottom: 1px dashed #0066c1;
}

.pop_up{
	position: absolute;
	background: #ffffff;
	padding: 16px 0px 0px;
	margin-top: 20px;
	z-index: 1000;
	line-height: 14px;
	white-space:nowrap;
	left: 9px;
}

.pop_up li{
	margin-bottom: 7px;
}

.pop_up .pop_up_left_top, .pop_up .pop_up_right_top, .pop_up .pop_up_left_bottom, .pop_up .pop_up_right_bottom{
	position: absolute;
	background: url(/theme/img/front/pop_up.png) no-repeat 0px 0px;
	width: 21px;
	display: block;
}

.pop_up .pop_up_left_top{
	height: 24px;
	background-position: -21px -18px;
	top: -24px;
	left: -21px;
}

.pop_up .pop_up_right_top{
	height: 24px;
	background-position: 0px -18px;
	top: -24px;
	right: -21px;
}

.pop_up .pop_up_left_bottom{
	height: 18px;
	background-position: -21px 0px;
	bottom: -18px;
	left: -21px;
}

.pop_up .pop_up_right_bottom{
	height: 18px;
	background-position: 0px 0px;
	bottom: -18px;
	right: -21px;
}

.pop_up .pop_up_top_l{
	position: absolute;
	background: url(/theme/img/front/pop_up.png) repeat-x 0px -60px;
	height: 24px;
	top: -24px;
	left: 0px;
	right: 50%;
	margin-right: 21px;
}

.pop_up .pop_up_top_r{
	position: absolute;
	background: url(/theme/img/front/pop_up.png) repeat-x 0px -60px;
	height: 24px;
	top: -24px;
	right: 0px;
	left: 50%;
	margin-left: 21px;
}

.pop_up .pop_up_bottom{
	position: absolute;
	background: url(/theme/img/front/pop_up.png) repeat-x 0px -42px;
	height: 18px;
	bottom: -18px;
	left: 0px;
	right: 0px;
}

.pop_up .pop_corner{
	position: absolute;
	background: url(/theme/img/front/pop_up.png) no-repeat 0px -84px;
	height: 24px;
	top: -24px;
	left: 50%;
	margin-left: -21px;
	width: 42px;
}

.pop_up .pop_up_left{
	position: absolute;
	background: url(/theme/img/front/pop_up_lr.png) repeat-y 0px 0px;
	width: 21px;
	bottom: 0px;
	top: 0px;
	left: -21px;
}

.pop_up .pop_up_right{
	position: absolute;
	background: url(/theme/img/front/pop_up_lr.png) repeat-y -21px 0px;
	width: 21px;
	bottom: 0px;
	top: 0px;
	right: -21px;
}
.main_down{
	cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------*/
.container {
	width: 100%;
	float: left;
	overflow: hidden;
    margin-bottom:30px;
    padding-top:15px;
}
.content {
	padding: 0 0 0 240px;
    margin-top:30px;
    min-height: 600px;
}
.tape_path a {
    color: #8c8c8c;
    font-size:11px;
}
.tape_path a:hover{
    color:#2698FD;
}
a.emblem_way {
    background-image: url(../img/front/emblem_way.png);
    background-repeat:no-repeat;
    width:12px;
    height:16px;
    display:block;
    float:left;
}
h1.developments {
    color:#015eb3;
    font-size:22px;
    font-weight:lighter;
    margin:0 0 25px 0;
}
.lineTabs{
	height:28px;
	list-style:none;
	margin:0px auto;
	padding:0px;
}
.lineTabs li{
	display:block;
	float:left;
	margin:0px;
	padding:0px;
	position:relative;
	overflow:visible;
	text-align:center;
}
.lineTabs li a{
	color:#a8a8a8;
	display:block;
	font:normal 12px arial;
	position:relative;
	height:27px;
    text-decoration:none;
}
.lineTabs li a.active{
    height:28px;
    background:url(../img/front/tab-bg.png) no-repeat bottom right;
    padding-right:5px;
	color:#a8a8a8;
	z-index:50;
    text-decoration:none;
    margin-right:8px;
    display: block;
}
.lineTabs li a span {
    height:23px;
    padding:5px 10px;
	display: block;
}
.lineTabs li a.active span {
	background:url(../img/front/tab-bg.png) no-repeat top left;
}
.lineTabs li a:hover{
	color:#a8a8a8;
	z-index:30;
}
hr {
    border-bottom: 1px solid #EDEDED;
    position:relative;
    top:-2px;
    z-index:10;
}
.report_event {
    width:156px;
    height:25px;
    background:url(../img/front/bg_report_event.png) no-repeat;
    display:block;
    float:right;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}
.report_event:hover{
    color:#F3D343;
}
.report_event span{
    display:block;
    margin:3px 0 0 17px;
    text-shadow:#000 0 0 1px;
}
.adt {
    width:520px;
    float:left;
}
span.adt_image {
    display:block;
    width:120px;
    float:left;
}
span.adt_image a {
    font-size: 10px;
    color: #8c8c8c;
    display:block;
    margin-top:-5px;
}
span.adt_image a:hover{
    color:#2698FD;
}
.adt_date {
    display: block;
    height:135px;
    margin-top:20px;
}
.adt_date img {
    margin:0 15px 0 0;
}
.adt_date a {
    font-size:18px;
    text-align:left;
}
a.comments {
    font-size: 12px;
    color:#bcbcbd;
    text-decoration:none;
}
a.comments:hover {
    color:#2698FD;
}
a.category_news {
    font-size: 12px;
}
p.adt_description {
    font-size:13px;
    color:#3a3a3a;
    margin-top:5px;
    padding-left:120px;
    line-height:1.2;
}
a.button_report {
    color:#fff;
    background-image:url(../img/front/bg_report.png);
    width:53px;
    height:15px;
    text-shadow: 1px 0px 0px #003366;
    font-size:10px;
    padding:1px 12px;
    margin-left:10px;
}
.label_camera {
    background-image:url(../img/front/label_camera.png);
    background-repeat:no-repeat;
    padding:0 0 0 22px !important;
    margin:0;
}
.label_camera span, .label_video span{
    padding:0 0 0 !important;
    margin:0;
    display:inline !important;
    text-decoration:underline;
}
.label_video {
    background-image:url(../img/front/label_video.png);
    background-repeat:no-repeat;
    padding:0 0 0 22px !important;
    margin:0;
}
sup {
    text-decoration:none !important;
}
.sideRight {
    float:right;
    width:220px;
}
.info_text {
    margin:20px 0;
    color:#3a3a3a;
    font-size:13px;
}
.article {
    float:right;
    margin-left:10px;
}
.adt h3 {
    font-size:20px;
    font-weight:lighter;
    color:#015eb3;
}
.adt h4 {
    font-size:18px;
    font-weight:lighter;
    color:#015eb3;
}
.social-services ul li {
    float:left;
    margin-right:15px;
}
.comments {
    clear:both;
    margin-bottom:20px;
}
.comments ul {
    margin-top:20px;
}
.comments li {
    display:block;
    padding:20px 0 20px 20px;
    min-height:80px;
    color:#3a3a3a;
}
.comments_top {
    background-color:#ededed;
}
.comments_photo {
    display:block;
    width:75px;
    height:75px;
    border:1px solid #cccccc;
    float:left;
}
.comments_photo img{
    margin:6px;
}
.comments p {
    margin-left:90px;
}
.name {
    color:#015eb3;
    font-weight:bold;
    display:block;
    margin-bottom:15px;
}
span.data {
    color:#3a3a3a;
    font-weight:normal;
    font-size:10px;
    margin-left:5px;
}
.linked_materials {
    width:100% !important;
    height:auto !important;
    padding: 10px 0;
    margin-bottom:20px;
}
.linked_materials li{
    width:120px;
    margin-bottom:15px !important;
}
.group_materials {
    width:150px;
    float:left;
    margin-right:20px;
}
.group_materials strong{
    display:block;
    margin:10px;
    font-size:14px;
    font-weight:lighter;
}
.sked{
    margin-top:10px !important;
}
.sked span{
    margin-left:7px;
}
.social-services {
    height:20px;
}
form.comments {
    margin-top:20px;
}
.comments textarea {
    border:1px solid #ededed;
    width:100%;
    height:125px;
    margin-bottom:15px;
}
.comments input {
    width:90px;
    height:25px;
    border:1px solid #707070;
    border-radius:3px;
    background-image:url(../img/front/bg_button_comments.png);
    background-repeat:repeat-x;
    font-weight:bold;
    font-size:12px;
    cursor:pointer;
}
.calendar {
    float:right;
    width:220px;
    height:230px;
    border:1px solid #ededed;
    border-radius:5px;
    margin-top:30px;
}
.rss_card {
    width:220px;
    height:128px;
    margin-top:20px;
    background-image:url(../img/front/rss_card.jpg);
    background-repeat:no-repeat;
    float:right;
}
.rss_card strong{
    font-size:18px;
    margin:10px 0 5px 8px;
    display:block;
    color:#939598;
}
.rss_card p {
    color: #3a3a3a;
    margin:8px 0 5px 8px;
}
.rss_card a {
    font-size:13px;
    margin:10px 0 15px 8px;
    padding-bottom:10px;
}
a.rss_orang {
    color: #e8b23f;
}
.menu_time {
    float:right;
    width:220px;
    height:230px;
    border:1px solid #3e3efd;
    border-radius:5px;
    margin-top:30px;
    position:relative;
    background-image:url(../img/front/bg_time.png);
    background-repeat:repeat-y;
}
.menu_time img{
    position:absolute;
    top:5px;
    right:5px;
}
.menu_time li{
    margin:0 0 0 15px;
}
.menu_time span{
    display:block;
    float:left;
    font-size:10px;
    color:#3a3a3a;
}
span.time {
    width:70px;
    font-weight:bold;
}
span.menu_time_data {
    font-weight:lighter;
    font-size:20px;
    color:#939598;
    margin:15px 40px 8px 0;
    display:block;
}
.add_file {
    width:220px;
    height:235px;
    margin-top:20px;
    float:right;
    border:1px solid #ededed;
    border-radius:5px;
}
.add_file ul{
    line-height: 1.2;
    margin: 10px 0 10px 10px;
}
.add_file ul li{
    display: block;
    font-size: 10px;
    margin-bottom: 8px;
}
.add_file ul li p{
    margin-left:33px;
}
.add_file ul li p span{
    display:block;
    color:#3A3A3A;
}
.add_file img{
    float:left;
    margin-right:10px;
}
.menu_add_file {
    display:block;
    font-size:15px;
    text-transform:uppercase;
    margin:0 10px;
}
.paging {
    width:250px;
    margin:60px 0 0;
}
.paging a{
    text-decoration:none;
    margin-right:10px;
    font-size:18px;
}
.paging a:hover{
    color:#3a3a3a;
}
.photos {
    width:570px;
    float:left;
}
.photo_preview{
    position:relative;
    float:left;
    margin:15px 20px 0 0;
    width:170px;
}
.photo_description span {
    font-size:11px;
}
.photo_underline {
    display:block;
    width:170px;
    height:20px;
    background-image:url(../img/front/photo_underline.png);
    background-repeat:repeat-x;
    z-index:20;
    position:absolute;
    top:120px;
    left:0;
}
a.photo_name {
    font-size:14px;
}
a.photo_category {
    color:#737373;
    font-size:11px;
}
a.photo_category:hover{
    color:#2698FD;
}
.number_photos {
    font-size:16px;
    text-align:right;
    color:#fff;
    float:right;
    margin:2px 7px 0 0;
}
.number_comments {
    text-align:right;
    font-size:11px;
}
.label_photos {
    display:block;
    width:19px;
    height:13px;
    float:right;
    margin:3px 7px 0 0;
    background-image:url(../img/front/label_photos.png);
    background-repeat:no-repeat;
    background-position:bottom left;
}
.label_comments {
    display:block;
    background-image:url(../img/front/label_comments.png);
    background-repeat:no-repeat;
    background-position:bottom left;
    width:13px;
    height:11px;
    float:left;
    margin:3px 3px 0 2px;
}
.date_comments {
    float:left;
}
.description_gallery {
    float:right;
    width:190px;
    margin-top:10px;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
.sideLeft {
 float: left;
 width: 230px;
 margin:60px 0 0 -100%;
 position: relative;
}
ul.menu_sideLeft {
    line-height:1.1;    
}
ul.menu_sideLeft > li {
    width:230px;
    display:table;
    min-height:31px;
}
ul.menu_sideLeft > li a{
   display:table-cell;
   vertical-align:middle;
   min-height:31px;
   padding: 10px 0;
   width:230px;
   padding-left:10px;
}
ul.menu_sideLeft > li a:hover {
    background-image: url(../img/front/bg_menu.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration:none;
    color:#3a3a3a;
}
ul.submenu {
    display:none;
    overflow:hidden;
    margin-left:20px;
    height:auto;
    padding-bottom:10px;
}
ul.menu_sideLeft li ul.submenu li {
    height: 20px;
    min-height: 20px !important;
}
ul.submenu li a{
    height:20px;
    min-height:20px!important;
    white-space: nowrap;
}
ul.submenu li a:hover{
    background-image:none;
    height:20px;
    min-height:20px;
}
ul.menu_sideLeft li:hover ul.submenu {
    display:block;
    overflow: visible;
    width:100px;
    height:auto;
}
.side_true {
    width: 220px;
    height:300px;
    border:1px solid #ededed;
    border-radius:5px;
    margin-top:20px;
}
.side_true h2{
    margin:10px;
    font-size:19px;
    color:#939598;
}
.side_true ul {
    margin:15px 0 10px 10px;
    line-height:1.4;
}
.side_true ul li{
    margin-bottom:5px;
    font-size:10px;
    display:block;
    color:#015eb3;
}
.side_true ul li p{
    color:#3a3a3a;
}
.side_true img {
    float: left;
    margin-right:10px;
}
.side_true ul li a{
    font-size:10px; 
}
ul li a.name_news {
    font-size: 11px;
}