@CHARSET "UTF-8";

/* layouts/scripts/layout.php3 start */
html, body, img, div, a, span {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
html { background: #fff; }
img { border: 0 none; }
.clr { clear:both; }

.header {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 50px;
	left: 0;
	border-bottom: 1px solid #aab0b5;
	background: #fff;
}
.header-resize {
	width: 900px;
	margin: 0 auto;
	height: 50px;
}
.body {
	width: 900px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}
.body-push1 {
	height: 50px;
}
.body-container {
	width: 900px;
	margin: 0 auto;
}
.body-push2 {
	height: 90px;
}
.footer {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 60px;
	margin-top: -60px;
}
.footer-resize {
	width: 900px;
	margin: 0 auto;
	height: 60px;
}
.footer-developer-logo {
	width: 79px;
	height: 40px;
	display: block;
	float: left;
	background: url("/theme/img/developer-logo.png") no-repeat top left;
}
.footer-developer-text {
	float: left;
	width: 800px;
	margin: 15px 0 0 15px;
	color: #aab0b4;
	font-size: 11px;
}
.footer-developer-text a {
	color: #0096c8;
	text-decoration: none;
}
/* layouts/scripts/layout.php3 end */

/* Generic ul menu start */
ul.generic-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.generic-menu li {
	margin: 5px;
	padding: 0;
	float: left;
	color: #333;
	font-size: 14px;
	list-style: none;
	position: relative;
}
ul.generic-menu li a.group,
ul.generic-menu li span {
	display: block;
	padding-right: 20px;
	cursor: pointer;
	background: url('/theme/img/admin/dropdown-16px.png') no-repeat right;
}
ul.generic-menu li ul li a.group,
ul.generic-menu li ul li span {
	display: block;
	padding-right: 20px;
	cursor: pointer;
	background: url('/theme/img/admin/dropdown2-16px.png') no-repeat right;
}
ul.generic-menu li a {
	color: #333;
	display: block;
	padding-right: 20px;
}
ul.generic-menu li ul {
	display: none;
	padding: 5px;
	margin: 0;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 100%;
	background: #f6f6f6;
	border: 1px solid #e3e3e3;
}
ul.generic-menu li ul li {
	white-space: nowrap;
	position: relative;
	display: block;
}
ul.generic-menu li ul li ul {
	top: 0;
	left: 100%;
	display: none;
}
ul.generic-menu li ul,
ul.generic-menu li.hover ul li ul {
	display: none;
}
ul.generic-menu li.hover ul,
ul.generic-menu li ul li.hover ul {
	display: block;
}
/* Generic ul menu end */

/* Icons start */
.icon-16 {
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.icon-16-add {	background-image: url('/theme/img/admin/add-16px.png'); }
.icon-16-edit {	background-image: url('/theme/img/admin/edit-16px.png'); }
.icon-16-delete {	background-image: url('/theme/img/admin/delete-16px.png'); }
/* Icons end */

/* Generic table start */
table.generic-table {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	border: 1px solid #e3e3e3;
}
table.generic-table tr {
	padding: 0;
	margin: 0;
}
table.generic-table th {
	background-color: #e3e3e3;
	padding: 1px 5px;
	margin: 0;
}
table.generic-table td {
	background-color: #f6f6f6;
	padding: 1px 5px;
	margin: 0;
}
table.generic-table a {
	color: #0096c8;
}
.generic-table-nav {
	padding: 2px 0 0;
	margin: 5px 0;
	height: 18px;
}
.generic-table-nav-pages {
	float: left;
}
.generic-table-nav-pages a {
	display: inline-block;
	margin: 0 4px;
	color: #0096c8;
	font-size: 14px;
}
.generic-table-nav-pages a.larr,
.generic-table-nav-pages a.rarr {
	font-size: 14px;
}
.generic-table-nav-pages a.larr span,
.generic-table-nav-pages a.rarr span {
	display: inline-block;
	padding: 0 2px;
	text-decoration: none;
}
.generic-table-nav-pages a.current {
	text-decoration: none;
	font-weight: 600;
}
.generic-table-nav-rows {
	float: right;
}
.generic-table-nav-rows a,
.generic-table-nav-rows span {
	display: inline-block;
	margin: 0 4px;
	color: #0096c8;
	font-size: 14px;
}
.generic-table-nav-rows a.current {
	text-decoration: none;
	font-weight: 600;
}
/* Generic table end */

/* User edit form start */
.users_form_useredit {
	font-size: 14px;
}
.users_form_useredit fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.users_form_useredit .form-composite-element-tag {
	min-height: 30px;
}
.users_form_useredit .form-composite-end { clear: both; }
/* User edit form end */

/* User group edit form start */
.users_form_usergroupedit {
	font-size: 14px;
}
.users_form_usergroupedit fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.users_form_usergroupedit .form-composite-element-tag {
	min-height: 30px;
}
.users_form_usergroupedit .form-composite-end { clear: both; }
/* User group edit form end */

/* User permission edit form start */
.users_form_userpermissionedit {
	font-size: 14px;
}
.users_form_userpermissionedit fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.users_form_userpermissionedit .form-composite-element-tag {
	min-height: 30px;
}
.users_form_userpermissionedit .form-composite-end { clear: both; }
/* User permission edit form end */

/* Teacher edit form start */
.staff_form_teacheredit {
	font-size: 14px;
}
.staff_form_teacheredit fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.staff_form_teacheredit .form-composite-element-tag {
	min-height: 30px;
}
.staff_form_teacheredit .form-composite-end { clear: both; }
.staff_form_teacheredit .form-composite-group-group1,
.staff_form_teacheredit .form-composite-group-group2,
.staff_form_teacheredit .form-composite-group-group4,
.staff_form_teacheredit .form-composite-group-group5,
.staff_form_teacheredit .form-composite-group-group8,
.staff_form_teacheredit .form-composite-group-group9 {
	float: left;
	width: 50%;
}
.staff_form_teacheredit .form-composite-group-group3,
.staff_form_teacheredit .form-composite-group-group6,
.staff_form_teacheredit .form-composite-group-group7 {
	float: left;
	width: 100%;
	clear: both;
}
/* Teacher edit form end */


/* Student edit form start */
.staff_form_studentedit {
	font-size: 14px;
}
.staff_form_studentedit fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.staff_form_studentedit .form-composite-element-tag {
	min-height: 30px;
}
.staff_form_studentedit .form-composite-end { clear: both; }
/* Student edit form end */

/* Media create form start */
.media_form_mediacreate {
	font-size: 14px;
}
.media_form_mediacreate fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.media_form_mediacreate .form-composite-element-tag {
	min-height: 30px;
}
.media_form_mediacreate .form-composite-end { clear: both; }
/* Media create form end */

/* Media edit form start */
.media_form_mediaedit {
	font-size: 14px;
}
.media_form_mediaedit fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.media_form_mediaedit .form-composite-element-tag {
	min-height: 30px;
}
.media_form_mediaedit .form-composite-end { clear: both; }
/* Media edit form end */

/* Media category edit form start */
.media_form_categoryedit {
	font-size: 14px;
}
.media_form_categoryedit fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #999;
	border-width: 1px;
	margin: 5px;
}
.media_form_categoryedit .form-composite-element-tag {
	min-height: 30px;
}
.media_form_categoryedit .form-composite-end { clear: both; }
/* Media category edit form end */
